body
{
	-webkit-user-select: none;
}

#main_address
{
	-webkit-user-select: text !important;
	cursor: text !important;
}

#balance
{
	-webkit-user-select: text !important;
	cursor: text !important;
}

#fiat_value
{
	-webkit-user-select: text !important;
	cursor: text !important;
}

*
{
	cursor: default !important;
}

input
{
	cursor: text !important;
}

#slick_wallet_logo
{
	height: 40px;
}

#main_address_qrcode img
{
	height: 224px;
}

img
{
	pointer-events: none
}
